
%h1 Click to toggle the light
%div
  %button{onclick: "turnOn(17)"} Turn LED 1 on
  %button{onclick: "turnOff(17)"} Turn LED 1 off
%div
  %button{onclick: "turnOn(25)"} Turn LED 2 on
  %button{onclick: "turnOff(25)"} Turn LED 2 off
%div
  %button{onclick: "turnOn(16)"} Turn LED 3 on
  %button{onclick: "turnOff(16)"} Turn LED 3 off
%div
  %button{onclick: "loopLeds(true)"} Loop LEDs
  %button{onclick: "loopLeds(false)"} Stop loop
  %div
    %span LED pause time:
    %input#ledPauseInput{max: "2", min: ".1", step: "0.05", type: "range", value: "0.5"}/
    %span#ledPauseValue .5


