<script>
    //17, 25 16
    function turnOn(led) {
        fetch('/sensors/turn_on', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json'
            },
            body: JSON.stringify({led})
        })
    }
       
    function turnOff(led) {
        fetch('/sensors/turn_off', {
            method: 'POST',
            body: JSON.stringify({led}),
            headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json'
            },
        })
    }
        
    function loopLeds(runLoop) {
        fetch('/sensors/loopleds', {
                method: 'POST',
                body: JSON.stringify({runLoop}),
                headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json'
                },
        })
    }

    function stopLoop() {
        fetch('/sensors/stoploop', {
                method: 'POST'
            })
        }
</script>

<h1>Click to toggle the light</h1>
<div>
<button onclick = "turnOn(17)">Turn LED 1 on</button>
<button onclick = "turnOff(17)">Turn LED 1 off</button>
</div>

<div>
<button onclick = "turnOn(25)">Turn LED 2 on</button>
<button onclick = "turnOff(25)">Turn LED 2 off</button>
</div>

<div>
<button onclick = "turnOn(16)">Turn LED 3 on</button>
<button onclick = "turnOff(16)">Turn LED 3 off</button>
</div>

<div>
<button onclick = "loopLeds(true)">Loop LEDs </button>
<button onclick = "loopLeds(false)">Stop loop</button>
</div>


