<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script>
    //17, 25 16
    function turnOn(led) {
        fetch('/sensors/turn_on', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json'
            },
            body: JSON.stringify({led})
        })
    }
       
    function turnOff(led) {
        fetch('/sensors/turn_off', {
            method: 'POST',
            body: JSON.stringify({led}),
            headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json'
            },
        })
    }
        
    function loopLeds(runLoop) {
        fetch('/sensors/loopleds', {
                method: 'POST',
                body: JSON.stringify({runLoop}),
                headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json'
                },
        })
    }

    function stopLoop() {
        fetch('/sensors/stoploop', {
            method: 'POST'
        })
    }

    $(window).ready(()=> {
        $('#ledPauseInput').change((e)=> {
            $('#ledPauseValue').html(e.target.value)
            fetch('/sensors/changepausevalue', {
                method: 'POST',          
                headers: {
                'Content-Type': 'application/json',
                Accept: 'application/json'},    
                body: JSON.stringify({
                    pauseValue: e.target.value
                })
            })
        })
    });
    
</script>

<h1>Click to toggle the light</h1>
<div>
<button onclick = "turnOn(17)">Turn LED 1 on</button>
<button onclick = "turnOff(17)">Turn LED 1 off</button>
</div>

<div>
<button onclick = "turnOn(25)">Turn LED 2 on</button>
<button onclick = "turnOff(25)">Turn LED 2 off</button>
</div>

<div>
<button onclick = "turnOn(16)">Turn LED 3 on</button>
<button onclick = "turnOff(16)">Turn LED 3 off</button>
</div>

<div>
<button onclick = "loopLeds(true)">Loop LEDs </button>
<button onclick = "loopLeds(false)">Stop loop</button>
<didv>
<span>LED pause time:</span>
<input type="range" min=".1" max="2" step="0.05" value="0.5" id = "ledPauseInput"/>
<span id = "ledPauseValue">.5</span>
</div>


