.sidebar
    %a{ :href => "/led", id: 'ledLink', class: "sidebar__link", width: "30px"}
        =image_tag  "led.png", class: "sidebar__img sidebar__img__led sidebar__img--active"
    %a{ :href => "/temperature", id: 'temperature', class: "sidebar__link "}
        =image_tag  "thermometer.png", class: "sidebar__img sidebar__img--inactive "
    %a{ :href => "/apostrophe", id: 'apostrophe',class: "sidebar__link"}
        =image_tag  "cat.png", class: "sidebar__img sidebar__img--inactive"